@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
h1 {
  font-weight: bold;
  margin: 0;
}
p {
  font-weight: 100;
  margin: 20px 0 30px;
}

a {
  color: darkgrey;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 10px;
  border: 1px solid var(--rouge_f);
  background-color: var(--rouge_f);
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

button:active, button:hover {
  transform: scale(.9);
}

button:focus {
  outline: none;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  margin: 8px 0;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.connecter-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .connecter-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }

  50%, 100% {
      opacity: 1;
      z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  background-color: var(--rouge_f);
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@media screen and (max-width: 992px){
  .h1, h1 {
    font-size: 2rem;
  }
  .overlay-panel {
  padding: 0 10px;
  }
}
