:root{
    --rouge_c : #F55555;
    --rouge_f : #DD163B;
    --gris : rgb(238, 238, 238);
}

body{
  background-color: #EEEEEE;
}
.btn.btn-shift, .btn.btn-shift:hover {
    padding: 7px 15px;
    background-color: var(--rouge_f);
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    margin-top: 2em;
    display: block;
    transition: all 500ms;
}
@media screen and (max-width: 992px){
  .btn.btn-shift, .btn.btn-shift:hover{
    margin-top: 0;
  }
}
.btn:focus{
  box-shadow: none!important;
}
#logo{
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu{
  background-color: white;
}
.sticky-top{
  min-height: 100vh;
}

.bg-retour{
  background-color: #ff81979c;
  padding: 40px;
  border-radius: 10px;
}
.d-flex.mb-5{
  align-items: baseline;
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}
.d-flex.mb-5.active{
  color: black;
  cursor: pointer;
}
.d-flex.mb-5 i{
  color: #DD163B;
}
.d-flex.mb-5:nth-child(1){
  margin-left: 1px;
}
.d-flex.mb-5:nth-child(3){
  margin-left: 3px;
}
.d-flex.mb-5:nth-child(3) span{
  margin-left: 4px;
}
i{
  font-size: 20px;
  margin-right: 10px;
}
.copyright{
  position: absolute;
  bottom: 30px;
}
span{
  font-size: 18px;
  font-weight: 600;
}
p{
  font-size: 1.1rem;
}

.card-shift{
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.16);
  text-align: center;
  height: 325px;
  width: 265px;
  transition: all 500ms;
}
.card-shift:hover{
  transform: translate3d(0,0,0) scale(1.05);
}
.card-shift h3{
  font-weight: 300;
  margin-bottom: 1em;
}
.card-shift h4{
  margin-bottom: 2em;
}
@media screen and (max-width: 1200px){
  .profil{
    display: none;
  }
  .bg-retour{
    text-align: center;
  }
  .card-shift {
    margin: 2.5rem .5rem;
    width: auto;
  }
  .card-responsive{
    text-align: -webkit-center!important;
  }
}
.col-12.col-md-6.col-lg-3.text-center > form input.btn-shift{
  border-radius: 30px;
  display: inline-block;
  height: 50px;
}
.panier{
  margin-top: 5em;
}
.minh-card{
  min-height: 165px;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
}
.admin{
  margin-top: 1rem;
  font-weight: 700;
  color: white;
  display: block;
  font-size: 1.1em;
  transition: all 500ms;
}
.btn-shift:hover, .admin:hover, .admin:active, .admin:focus{
  color: white!important;
  transform: translate3d(0,0,0) scale(.95);
}
.btn-shift-delete, .btn-shift-delete:hover{
  background-color: var(--rouge_f);
  color: white;
  font-weight: 700;
}


/* Page panier */
.prix, .prix span{
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  padding: 0 10px;
}
.prix span:nth-child(1), .prix span:nth-child(2){
  border-right: 3px solid var(--rouge_f);
}
.cls-6, .cls-7{
  font-family: 'Roboto'!important;
}
.form-control{
  padding: 30px;
  border: 2px solid rgba(221, 22, 59, .8);
  margin-bottom: 2em;
}
.form-control:focus {
  border: 2px solid rgba(221, 22, 59, .8);
  box-shadow: none;
}
table tbody tr{
  margin-bottom: 1em;
}
table tbody tr td.paiement:nth-child(1){
  width: 75%;
}
table tbody tr td + td input{
  text-align: center;
}
